.python-docekr-venv/lib64
.python-docekr-venv/lib/python3.10/site-packages/
.python-docekr-venv/bin/activate
.python-docekr-venv/bin/activate.csh
.python-docekr-venv/bin/activate.fish
.python-docekr-venv/bin/Activate.ps1
.python-docekr-venv/bin/flask
.python-docekr-venv/bin/pip
.python-docekr-venv/bin/pip3
.python-docekr-venv/bin/pip3.10
.python-docekr-venv/bin/python
.python-docekr-venv/bin/python3
.python-docekr-venv/bin/python3.10
.vscode/settings.json
__pycache__/app.cpython-310.pyc
.python-docekr-venv/pyvenv.cfg